* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.subcontainer {
    margin-left: 30px;
    margin-right: 30px;
}

.navimage {
    height: 60px;
    width: 160px;
    margin-left: 30px;
}

.list {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 150px;
    list-style: none;
    color: rgb(104, 104, 104);
    cursor: pointer;
}

.btn1 {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: small;
    cursor: pointer;
}

.btnnav {
    display: flex;
    justify-content: end;
    margin-top: -27px;
    gap: 10px;
    margin-right: 50px;
    border: none;
    cursor: pointer;
}

.rightimg {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.mainimg {
    height: 580px;
    margin-top: 100px;
    margin-bottom: 30px;

}

.maintext {
    width: 600px;
    margin: -530px 0px 30px 30px;
    font-size: larger;
}

.subtext {
    margin: 0px 0px 30px 30px;
}

.para {
    width: 600px;
    margin: 0px 0px 0px 30px;
    font-size: larger;
}

.btn2 {
    margin: 10px 0px 0px 30px;
    border: 0.5px solid black;
    padding: 15px 50px;
    font-size: small;
    background-color: white;
    cursor: pointer;
}

.middiv {
    display: flex;
    justify-content: space-around;
    margin-top: 220px;
    margin-bottom: 30px;
    background-color: rgba(170, 170, 170, 0.726);
    padding: 50px;
    border-radius: 10px;



}

.div-1 {
    background-color: rgb(65, 65, 65);
    border-radius: 10px;
    cursor: pointer;

}

.searchlabebl {
    color: white;
    margin-right: 10px;
    height: 30px;
    margin-left: 10px;
}

.searchdiv {
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    border: 1px solid black;

}

.div-2 {
    background-color: rgba(255, 255, 255, 0.74);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.div-3 {
    background-color: rgba(255, 255, 255, 0.74);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.div-4 {
    background-color: rgba(255, 255, 255, 0.74);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.div-5 {
    background-color: rgba(255, 255, 255, 0.74);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.midbtn {
    background-color: rgb(0, 153, 0);
    padding: 20px 25px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: medium;

}

.div-2:hover {
    background-color: gray;
    color: white;
}

.div-3:hover {
    background-color: gray;
    color: white;
}

.div-4:hover {
    background-color: gray;
    color: white;
}

.div-5:hover {
    background-color: gray;
    color: white;
}

.mainimg2 {
    width: 100%;
    margin-bottom: 10px;
}

.secbtn {
    background-color: rgb(0, 153, 0);
    padding: 20px 25px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: medium;
}

.btndivsec {
    margin-top: -90px;
    display: flex;
    justify-content: end;
    margin-right: 20px;

}

.sec2text {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: xx-large;
    font-weight: 700;
}

.sec2 {
    display: flex;
    justify-content: space-between;

}

.littlecard {
    background-color: rgba(170, 170, 170, 0.726);
    height: 160px;
    width: 180px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: large;
    font-weight: 700;
}

.cards{
    height: 280px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.secbtnlong{
   background-color: rgba(0, 110, 0, 0.836);
    padding: 10px 36%;
    margin-left: 12px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: medium;
    cursor: pointer;
    margin-bottom: 20px;
}
.buttondiv{
    margin-top: -60px;
}
.imgcut{
    margin: 10px 0px;
}
.bigimg{
    border-radius: 40px 0px 0px 0px;
}
.projecttext{
    margin-top: -500px;
    width: 100px;
    font-size:380%;
    display: flex;
    margin-left: 63%;
}